<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Registro de usuarios</h2>
            <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password">
                </div>
                <input class="button" type="submit" value="Registrar">
            </form>
        </div>
    </div>
</body>
</html>
